{% extends 'Card_App/base.html' %}
{% block body %}
{% load static %}

<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img class="card-img-top" alt="..." src='{% static "Card_App/test.jpg" %}'>
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1"></h3>
          <h2 class="text-gray-900 title-font text-lg font-medium"></h2>
          <input type="radio" name="joke" value="bed" /> Select
           <input type="radio" name="joke" value="snake" /> clear
            <form action="edit">
           <input type="submit" value="Next">
            </form>
          <p class="mt-1"></p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
           <img class="card-img-top" alt="..." src='{% static "Card_App/test.jpg" %}'>
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1"></h3>
          <h2 class="text-gray-900 title-font text-lg font-medium"></h2>
          <input type="radio" name="joke" value="bed" /> Select
           <input type="radio" name="joke" value="snake" /> clear
            <form action="edit">
           <input type="submit" value="Next">
            </form>
          <p class="mt-1"></p>

        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
           <img class="card-img-top" alt="..." src='{% static "Card_App/test.jpg" %}'>
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1"></h3>
          <h2 class="text-gray-900 title-font text-lg font-medium"></h2>
          <input type="radio" name="joke" value="bed" /> Select
           <input type="radio" name="joke" value="clock" />clear
           <form action="edit">
           <input type="submit" value="Next">
            </form>
          <p class="mt-1"></p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
           <img class="card-img-top" alt="..." src='{% static "Card_App/test.jpg" %}'>
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1"></h3>
          <h2 class="text-gray-900 title-font text-lg font-medium"></h2>
          <input type="radio" name="joke" value="bed" /> Select
           <input type="radio" name="joke" value="snake" /> clear
            <form action="edit">
           <input type="submit" value="Next">
            </form>
          <p class="mt-1"></p>

        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
           <img class="card-img-top" alt="..." src='{% static "Card_App/test.jpg" %}'>
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1"></h3>
          <h2 class="text-gray-900 title-font text-lg font-medium"></h2>
          <input type="radio" name="joke" value="bed" /> Select
           <input type="radio" name="joke" value="snake" /> clear
            <form action="edit">
           <input type="submit" value="Next">
            </form>
          <p class="mt-1"></p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
           <img class="card-img-top" alt="..." src='{% static "Card_App/test.jpg" %}'>
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1"></h3>
          <h2 class="text-gray-900 title-font text-lg font-medium"></h2>
          <input type="radio" name="joke" value="bed" /> Select
           <input type="radio" name="joke" value="snake" /> clear
            <form action="edit">
           <input type="submit" value="Next">
            </form>
          <p class="mt-1"></p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
           <img class="card-img-top" alt="..." src='{% static "Card_App/test.jpg" %}'>
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1"></h3>
          <h2 class="text-gray-900 title-font text-lg font-medium"></h2>
          <input type="radio" name="joke" value="bed" /> Select
           <input type="radio" name="joke" value="snake" /> clear
            <form action="edit">
           <input type="submit" value="Next">
            </form>
          <p class="mt-1"></p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
           <img class="card-img-top" alt="..." src='{% static "Card_App/test.jpg" %}'>
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1"></h3>
          <h6 class="text-gray-900 title-font text-lg font-medium"></h6>
           <input type="radio" name="joke" value="bed" /> Select
            <input type="radio" name="joke" value="snake" /> clear
            <form action="edit">
           <input type="submit" value="Next">
            </form>
            <p class="mt-1"></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
